.parent{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(1-2004112143260-L.jpg)
}


.card{
    height: 83%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.card-b {
    height: 10px;
    width: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    word-wrap: normal;
}

.card-subtitle{
    color:blue;
}
.card-body-a {
    padding: 1rem 5rem;
}

.card-body-b {
    padding: 1rem 4rem;
    height: 240px;
}

.card-body-c {
    padding: 1rem 4rem;
    height: 240px;
}

.card-body-d {
    height: 70px;
    align-items: center;
    justify-content: center;
}

.card-favoriter {
    columns: row;
    flex-direction: row;
    flex: auto;
}

.row-a {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.w-100-a {
    width: 100% !important;
}


.foto{
    height: 250px;
    width: 236px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

